<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IS201.N22.HTCL.Properties.Settings.DISC_SHOP_MANAGEMENTConnectionString"
            connectionString="Data Source=BLACKY\BLACKY;Initial Catalog=DISC_SHOP_MANAGEMENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>